In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('strait-of-hormuz-daily-t.csv')
data.head()

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average
0,2019-01-01 00:00:00,35,65,100.00,NaN
1,2019-01-02 00:00:00,27,61,94.00,NaN
2,2019-01-03 00:00:00,34,63,95.00,NaN
3,2019-01-04 00:00:00,26,44,88.75,NaN
4,2019-01-05 00:00:00,31,51,87.40,NaN

In [3]:
data['DateTime'] = pd.to_datetime(data['DateTime'])

In [4]:
data.head()

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average
0,2019-01-01,35,65,100.00,NaN
1,2019-01-02,27,61,94.00,NaN
2,2019-01-03,34,63,95.00,NaN
3,2019-01-04,26,44,88.75,NaN
4,2019-01-05,31,51,87.40,NaN

In [5]:
data['Total Ships'] = data['Number of Cargo Ships'] + data['Number of Tanker Ships']
data.head()

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average,Total Ships
0,2019-01-01,35,65,100.00,NaN,100
1,2019-01-02,27,61,94.00,NaN,88
2,2019-01-03,34,63,95.00,NaN,97
3,2019-01-04,26,44,88.75,NaN,70
4,2019-01-05,31,51,87.40,NaN,82

In [6]:
filtered_data = data[data['Total Ships'] < 25]
print(filtered_data['DateTime'])

Series([], Name: DateTime, dtype: datetime64[ns])

In [7]:
data['Total Ships'].mean()

93.50711831124202

In [8]:
data['Total Ships'].min()

51

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2037 entries, 0 to 2036
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   DateTime                          2037 non-null   datetime64[ns]
 1   Number of Cargo Ships             2037 non-null   int64
 2   Number of Tanker Ships            2037 non-null   int64
 3   7-day Moving Average              2037 non-null   float64
 4   Prior Year: 7-day Moving Average  1671 non-null   float64
 5   Total Ships                       2037 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 95.6 KB