In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('TransitCallsFinal.csv')
data.head()

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average
0,2019-01-01 00:00:00,25,21,46.0,NaN
1,2019-01-02 00:00:00,19,9,37.0,NaN
2,2019-01-03 00:00:00,22,12,36.0,NaN
3,2019-01-04 00:00:00,17,9,33.5,NaN
4,2019-01-05 00:00:00,24,13,34.2,NaN

In [4]:
data['DateTime'] = pd.to_datetime(data['DateTime'])
start_date = '2024-07-15'
end_date = '2024-08-15' 
df = data[(data['DateTime'] >= start_date) & (data['DateTime'] <= end_date)]

In [5]:
df.tail()

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average
2045,2024-08-07,13,14,23.142857,31.428571
2046,2024-08-08,22,8,25.142857,31.142857
2047,2024-08-09,18,10,25.285714,30.571429
2048,2024-08-10,17,15,26.714286,30.714286
2049,2024-08-11,14,11,27.857143,30.285714

In [6]:
df['Total Ships'] = df['Number of Cargo Ships'] + df['Number of Tanker Ships']
df.tail()

<ipython-input-6-5ee43dc68bdd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Ships'] = df['Number of Cargo Ships'] + df['Number of Tanker Ships']

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average,Total Ships
2045,2024-08-07,13,14,23.142857,31.428571,27
2046,2024-08-08,22,8,25.142857,31.142857,30
2047,2024-08-09,18,10,25.285714,30.571429,28
2048,2024-08-10,17,15,26.714286,30.714286,32
2049,2024-08-11,14,11,27.857143,30.285714,25

In [7]:
df['Total Ships'].sum()

728

In [8]:
df['Total Ships'].mean()

26.0

In [10]:
728+26*3

806