In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('panama-canal-daily-trans.csv')
data.head()

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average
0,2019-01-01 00:00:00,25,21,46.0,NaN
1,2019-01-02 00:00:00,19,9,37.0,NaN
2,2019-01-03 00:00:00,22,12,36.0,NaN
3,2019-01-04 00:00:00,17,9,33.5,NaN
4,2019-01-05 00:00:00,24,13,34.2,NaN

In [3]:
data['DateTime'] = pd.to_datetime(data['DateTime'])

# Filter the data for May 2024 to present day (assuming today's date is known)
start_date = '2024-05-01'
end_date = '2024-07-31'  # assuming today's date is July 31, 2024

filtered_data = data[(data['DateTime'] >= start_date) & (data['DateTime'] <= end_date)]

In [4]:
filtered_data.head()

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average
1947,2024-05-01,16,9,22.285714,32.000000
1948,2024-05-02,11,9,22.571429,31.857143
1949,2024-05-03,13,8,22.571429,31.857143
1950,2024-05-04,13,9,22.571429,31.571429
1951,2024-05-05,8,12,22.000000,31.571429

In [5]:
filtered_data['Total Ships']=filtered_data['Number of Cargo Ships']+filtered_data['Number of Tanker Ships']
filtered_data.head()

<ipython-input-5-b0012e37f8ec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Total Ships']=filtered_data['Number of Cargo Ships']+filtered_data['Number of Tanker Ships']

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average,Total Ships
1947,2024-05-01,16,9,22.285714,32.000000,25
1948,2024-05-02,11,9,22.571429,31.857143,20
1949,2024-05-03,13,8,22.571429,31.857143,21
1950,2024-05-04,13,9,22.571429,31.571429,22
1951,2024-05-05,8,12,22.000000,31.571429,20

In [6]:
filtered_data['Total Ships'].mean()

24.607142857142858

In [7]:
filtered_data.tail()

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average,Total Ships
2026,2024-07-19,17,11,27.000000,30.571429,28
2027,2024-07-20,15,14,26.857143,30.000000,29
2028,2024-07-21,15,12,26.857143,29.428571,27
2029,2024-07-22,20,10,27.000000,29.142857,30
2030,2024-07-23,12,13,26.857143,29.714286,25

In [8]:
filtered_data['Total Ships'].sum()

2067

### July Data Onwards

In [9]:
start_date = '2024-07-01'
end_date = '2024-07-31'

df = data[(data['DateTime'] >= start_date) & (data['DateTime'] <= end_date)]

In [10]:
df.head()

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average
2008,2024-07-01,14,9,25.142857,33.000000
2009,2024-07-02,9,9,25.285714,33.142857
2010,2024-07-03,10,11,24.714286,33.857143
2011,2024-07-04,13,14,24.428571,33.571429
2012,2024-07-05,17,13,25.428571,33.142857

In [11]:
df['Total Ships'] = df['Number of Cargo Ships'] + df['Number of Tanker Ships']
df.head()

<ipython-input-11-d0a6d3464ac4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Ships'] = df['Number of Cargo Ships'] + df['Number of Tanker Ships']

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average,Total Ships
2008,2024-07-01,14,9,25.142857,33.000000,23
2009,2024-07-02,9,9,25.285714,33.142857,18
2010,2024-07-03,10,11,24.714286,33.857143,21
2011,2024-07-04,13,14,24.428571,33.571429,27
2012,2024-07-05,17,13,25.428571,33.142857,30

In [12]:
df['Total Ships'].mean()

26.17391304347826

In [13]:
df['Total Ships'].sum()

602

In [14]:
df.tail()

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average,Total Ships
2026,2024-07-19,17,11,27.000000,30.571429,28
2027,2024-07-20,15,14,26.857143,30.000000,29
2028,2024-07-21,15,12,26.857143,29.428571,27
2029,2024-07-22,20,10,27.000000,29.142857,30
2030,2024-07-23,12,13,26.857143,29.714286,25

In [15]:
## There are still 22 days left using this data.

In [16]:
243 + 22*26.17

818.74

In [29]:
df.tail()

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average,Total Ships
2026,2024-07-19,17,11,27.000000,30.571429,28
2027,2024-07-20,15,14,26.857143,30.000000,29
2028,2024-07-21,15,12,26.857143,29.428571,27
2029,2024-07-22,20,10,27.000000,29.142857,30
2030,2024-07-23,12,13,26.857143,29.714286,25