In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('panama-canal-daily-tran-latest.csv')
data.head()

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average
0,2019-01-01 00:00:00,25,21,46.0,NaN
1,2019-01-02 00:00:00,19,9,37.0,NaN
2,2019-01-03 00:00:00,22,12,36.0,NaN
3,2019-01-04 00:00:00,17,9,33.5,NaN
4,2019-01-05 00:00:00,24,13,34.2,NaN

In [3]:
data['DateTime'] = pd.to_datetime(data['DateTime'])
start_date = '2024-07-15'
end_date = '2024-07-31' 
df = data[(data['DateTime'] >= start_date) & (data['DateTime'] <= end_date)]

In [11]:
df.head()

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average,Total Ships
2022,2024-07-15,16,13,27.571429,32.285714,29
2023,2024-07-16,17,9,27.428571,31.571429,26
2024,2024-07-17,11,14,27.428571,31.142857,25
2025,2024-07-18,17,7,26.857143,31.142857,24
2026,2024-07-19,17,11,27.000000,30.571429,28

In [5]:
df['Total Ships'] = df['Number of Cargo Ships'] + df['Number of Tanker Ships']
df.tail()

<ipython-input-5-5ee43dc68bdd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Ships'] = df['Number of Cargo Ships'] + df['Number of Tanker Ships']

,DateTime,Number of Cargo Ships,Number of Tanker Ships,7-day Moving Average,Prior Year: 7-day Moving Average,Total Ships
2032,2024-07-25,13,13,27.285714,30.571429,26
2033,2024-07-26,14,15,27.428571,31.285714,29
2034,2024-07-27,16,12,27.285714,31.571429,28
2035,2024-07-28,17,7,26.857143,31.571429,24
2036,2024-07-29,13,9,25.714286,31.714286,22

In [6]:
df['Total Ships'].sum()

398

In [7]:
df['Total Ships'].mean()

26.533333333333335

In [8]:
398+16*26.5333

822.5328

In [9]:
398+16*27

830

In [10]:
df['Total Ships'].std()

2.2949219304078006