In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "Energy Source": [
        "Coal", "Natural Gas", "Petroleum Consumption", "Total Fossil Fuels",
        "Nuclear Electric Power",
        "Hydroelectric Power", "Geothermal", "Solar", "Wind", "Biomass", "Total Renewable Energy",
        "Total"
    ],
    "Jan 2024": [
        0.874831, 3.822249, 2.88552, 7.581865, 0.721745,
        0.07246, 0.010045, 0.052858, 0.119337, 0.407249, 0.661948, 8.971485
    ],
    "Feb 2024": [
        0.557602, 3.069708, 2.727949, 6.353701, 0.674772,
        0.066866, 0.009362, 0.064733, 0.142026, 0.39864, 0.681627, 7.710646
    ],
    "Mar 2024": [
        0.488714, 2.887404, 2.924237, 6.296272, 0.661837,
        0.078288, 0.009609, 0.083217, 0.156539, 0.421785, 0.749438, 7.706357
    ],
    "Apr 2024": [
        0.465369, 2.475176, 2.874712, 5.810186, 0.598945,
        0.065477, 0.009615, 0.097722, 0.162714, 0.400827, 0.736355, 7.148127
    ],
    "May 2024": [
        0.563717, 2.405717, 3.079122, 6.046101, 0.678838,
        0.074939, 0.009558, 0.111387, 0.132849, 0.427744, 0.756477, 7.486766
    ]
}

df = pd.DataFrame(data)

In [3]:
df

             Energy Source  Jan 2024  Feb 2024  Mar 2024  Apr 2024  May 2024
0                     Coal  0.874831  0.557602  0.488714  0.465369  0.563717
1              Natural Gas  3.822249  3.069708  2.887404  2.475176  2.405717
2    Petroleum Consumption  2.885520  2.727949  2.924237  2.874712  3.079122
3       Total Fossil Fuels  7.581865  6.353701  6.296272  5.810186  6.046101
4   Nuclear Electric Power  0.721745  0.674772  0.661837  0.598945  0.678838
5      Hydroelectric Power  0.072460  0.066866  0.078288  0.065477  0.074939
6               Geothermal  0.010045  0.009362  0.009609  0.009615  0.009558
7                    Solar  0.052858  0.064733  0.083217  0.097722  0.111387
8                     Wind  0.119337  0.142026  0.156539  0.162714  0.132849
9                  Biomass  0.407249  0.398640  0.421785  0.400827  0.427744
10  Total Renewable Energy  0.661948  0.681627  0.749438  0.736355  0.756477
11                   Total  8.971485  7.710646  7.706357  7.148127  7.486766

In [4]:
0.661948/8.971485

0.07378354865443124

In [5]:
0.681627/7.710646

0.08840076434581487

In [6]:
0.749438/7.706357

0.09724932286422755

In [7]:
0.736355/7.148127

0.10301369855348122

In [8]:
0.756477/7.486766

0.10104189178611966

In [9]:
(0.661948+0.681627+0.749438+0.736355+0.756477)/(8.971485+7.710646+7.706357+7.148127+7.486766)

0.09188965456376012